# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse files and folders
.settings
bin
.classpath
.project

# Ignore vscode folder
.vscode

# Ignore IntellIj folder
.idea

# Other
out/